*{
	font-family: 'poppins',sans-serif;
}

.c{
	background-image: url('new bg hd.jpg');
	background-repeat: no-repeat;
	border: 1px solid lightgrey;
	border-radius: 5px;

    background-size:100% 420px;
    color:white;
    
}

ul {
	display:flex;
	justify-content: space-around;

}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: white;
}
h1,h2{

	display: flex;
	justify-content: center;

}
.searchicon{
	background-image: url('iconsearch.jfif');
	background-repeat: no-repeat;
	background-size: 3%;
	background-position: right;

}
.a{
	margin:2% 21% 7% 21%;
	display: flex;
	justify-content: center;
	
}
input{
     
	border-radius: 8px;
	width: 100%;
	height: 100%;
	padding: 1.5%;
	font-size: 18px;
	
}
.b{display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;

	}
.num1,.num2{
	margin: 1% 0px  0px 5%;
	display: flex;
	justify-content: flex-start;
	verflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.o,.n,.e{
	
    border: 1px solid lightgrey;
	border-radius: 10px;
	margin: 2% 0px 0px 0px;
	box-shadow: 3px 3px 10px;
	transition: transform 0.5s;}
#new1,#new2,#new3{
	border-radius: 10px 10px 0px 0px;
    width: 350px;
	height: 70%;
}


.o:hover{
	transform: scale(1.05);
	

}
.n:hover{
	transform: scale(1.05);
	
	}
.e:hover{
	transform: scale(1.05);
}
.aa{
	display:flex;
	justify-content: space-evenly;
	font-family: serif;
	flex-wrap: wrap;
}
.hh,.pop,.head{
	display: flex;
	justify-content: flex-start;
	margin: 5% 0px -22px 3%;
	}
.bb{
	color:red;
}
.one,.two,.three,.four{
	color:white;
	border:1px solid black;
	border-radius: 5px;
	box-shadow: 5px 5px 10px black;
	   
 }
 @media only screen and (max-width:600px){
 	.one,.two,.three,.four{
 		color:white;
	border:1px solid black;
	border-radius: 5px;
	box-shadow: 5px 5px 10px black;
	flex-basis: 100%;
	margin: 0px 0px 5% 0px;

 	}
}

.fourimg{
	display: flex;
	justify-content: space-evenly;
	margin: 0px 3% 0px 3%;
	flex-wrap: wrap;
	
}
@media only screen and (max-width:600px){
	.fourimg{
		display: flex;
		justify-content: space-evenly;
		margin: 0px 3% 0px 3%;
		flex-wrap: wrap;
}
}
.one{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('new piza.webp');
	padding: 20% 7%  0px 1%;
	
}

.two{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('new sea din.jpg');
	padding: 20% 11%  0px 1%;
	
}
.three{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('new insta.jpg');
	padding: 20% 5%  0px 1%;
	
}
.four{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('zomo bg.jfif');
	padding: 20% 7%  0px 1%;
	
}
.hole{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
@media only screen and (max-width:600px){
	.t,.no,.v,.ad,.an,.th,.my,.al,.se{
		
		flex-basis: 100%;
		
}
}
@media only screen and (max-width:950px){
	.t,.no,.v,.ad,.an,.th,.my,.al,.se{
		
		flex-basis: 100%;
		
}
}
.t,.no,.v{
	border:1px solid black;
	border-radius: 5px;
	margin: 2% 0px 0px 0px;

}
.t{
	padding: 0px 21% 0px 1%;
}
.no{
	padding: 0px 19% 0px 1%;
}
.v{
	padding: 0px 19% 0px 1%;
}
.hole1{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.ad,.an,.th{
	border:1px solid black;
	border-radius: 5px;
	margin: 2% 0px 0px 0px;

}
.ad{
	padding: 0px 22% 0px 1%;
}
.an{
	padding: 0px 16% 0px 1%;
}
.th{
	padding: 0px 16% 0px 1%;
}
.hole2{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.my,.al,.se{
	border:1px solid black;
	border-radius: 5px;
	margin: 2% 0px 0px 0px;

}
.my{
	padding: 0px 20% 0px 1%;
}
.al{
	padding: 0px 22% 0px 1%;
}
.se{
	padding: 0px 20% 0px 1%;
}
.a1,.a2,.a3,.a4{
	border: 1px solid black;
	border-radius: 5px;
	margin: 3% 3%;
	padding: 0px 0px 0px 1%;
}
.zo{
	display: flex;
	justify-content: flex-start;
	margin: 1% 2%;
}
@media only screen and (max-width:950px){
	.bb1,.b2,.b3,.b4{
		
		flex-basis: 50%;
		
}
}
.b1{
	display: flex;
	justify-content: space-evenly;
}
.final{
	display: flex;
	justify-content: space-between;
	margin: 1% 2%;
	flex-wrap: wrap;

}
.last{
	background-color: lightgray;
	background-size: cover;
	border: 1px solid white;
	border-radius: 5px;

}
.b5{
	margin: 1% 2% 4% 2%;
}
a:hover{
	border: 1px solid black;
	border-radius: 5px;
	background-color: red;
	box-shadow: 0 0 10px red,0 0 10px red,0 0 20px red,0 0 40px red,0 0 60px red,0 0 80px red,0 0 100px red;
	padding: 7px;
}
.tv1{
	width:300px;
	height: 350px;
	margin: 120px 0px 0px 0px;
	

}
.emho{
	display: flex;
	justify-content: space-evenly;

	
}
#e1,#e2{
     font-size: 30px;
	width: 18px;
	height: 18px;
	accent-color: red;
}
.cl1{
	margin: 0px 0px 0px 10%;
}
#em3{
	width:65%;
	height:25px;
	border-radius: 5px;
}
button{
	color: white;
	padding: 3%;
	border-radius: 5px;
background-color: red;
}
.emh h3{
	font-size: 60px;
	margin-bottom: -10px;
}
.pcls{
	font-size: 25px;
}
.dem3{
	margin-top: 15px;
}
.fdiv{
	
	margin: 6% 18% 6% 18%;
}
.ffdiv{
	display: flex;
	
	background-color: lightcyan;
}


@media only screen and (max-width:600px){
	.emho{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	}
	button{
		margin-top: 2em;
	}

}